*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Bahnschrift";
}

body{
    background: #404040;
}
.Banner{
    padding: 10px 100px;
    background: #22B14C;
}
.Banner table{
    
    width:  700px;
    margin: 10px auto;
}

table {
    text-align: center;
  }


/* Menu desplegable */

#header{
    margin: auto;
    width: auto;
    align-content: center;
}

ul, ol {
    list-style: none
}

.nav{
    background: #006F00;
    overflow: hidden;
}

.nav li a{
    background: #006F00;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 60px;
    display: block;
}

.nav li a:hover, a:active{
    background: #004000;
}

.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}

.nav li:hover>ul{
    display: block;
}

.Slider {
    align-content: center;
    background: #22B14C;
    padding:10px 10px; 
    margin: 50px 10px;
}
/*Fin menu desplegable*/

.Letreros{
    padding: 10px 100px;
    background: #006F00;
}

.Estante table{
    
    width:  700px;
    margin: 10px auto;
    padding: 10px 10px;
}

table {
    text-align: center;
  }
